{% extends 'base.html' %}

{% block title %} Administracao {% endblock %}

{% block main %}

    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <ul class="list-group">
                {% for p in persons %}
                    <li class="list-group-item">
                        <a href="{% url 'persons_update' p.id %}">{{ p.first_name }}</a>
                        <a href="{% url 'persons_delete' p.id %}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <a href="{% url 'person_new' %}" class="btn btn-primary">Novo Cliente</a>
        </div>
        <div class="col">
            {% if user.is_authenticated %}
                <p>Ola {{ user.username }} <a href="{% url 'logout' %}" class="btn btn-info">Sair</a></p>
            {% endif %}
        </div>
    </div>

{% endblock %}

